input(id="site-url" type="hidden" value="http://anpsthemes.com/kataleya-html")

footer.site-footer.style-2
	.container.footer-widgets
		.row
			.col-md-12
				include mini-logo
				h2.section-heading.text-center widget styles
		.row
			.col-md-3
				ul.widgets
					li.widget-container
						h3.widget-title text widget
						div.textwidget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum.
					li.widget-container
						h3.widget-title search
						form(role="search" id="searchform" class="searchform")
							div
								input(type="text" value="" name="s" id="s" placeholder="Search...")
								button(type="submit" class="fa fa-search" id="searchsubmit")
					li.widget-container
						h3.widget-title flickr
						.flickr-widget(data-account="52617155@N08")
			.col-md-3
				ul.widgets
					li.widget-container
						h3.widget-title twitter widget
						.carousel.slide(id="twitter" data-ride="carousel" class="twitter")
							.carousel-inner
								.item.active
									| dev team training on supporting our shiny new @elasticsearch infrastructure pic.twitter.com/67AEfXa40r
								.item
									| Finally Altus Wordpress is here, get it now!
								.item
									| I am very proud to report that Altus went over 100 sales in 10 days! Check our new WooCommerce update!
							ol.carousel-indicators
								li.active(data-target="#twitter" data-slide-to="0")
								li(data-target="#twitter" data-slide-to="1")
								li(data-target="#twitter" data-slide-to="2")
					li.widget-container.recent-posts-widget.recent-widget
						h3.widget-title recent posts widget
						ul
							li
								img(src="assets/images/author-1.jpg" alt="Author 1")
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right
							li
								img(src="assets/images/author-2.jpg" alt="Author 2")
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right
							li
								img(src="assets/images/author-3.jpg" alt="Author 3")
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right

			.col-md-3
				ul.widgets
					li.widget-container
						h3.widget-title tabs widget
						ul.nav.nav-tabs.style-2
							each val, index in ["Mission", "Projects"]
								li(class=index === 0 ? 'active' : '')
									a(href="#tab2-" + index data-toggle="tab")
										=val
						.tab-content
							each val, index in ["Mission", "Projects"]
								.tab-pane(class=index === 0 ? 'active' : '' id="tab2-" + index)
									p Dont be shy do contact us about everything and anything, we will be glad to answer your questions about kataleya. 
					li.widget-container.recent-comments-widget.recent-widget
						h3.widget-title recent comments widget
						ul
							li
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right
							li
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right
							li
								h5 Lorem Ipsum Dolor
								p consectetur adipiscing elit. Fusce convallis.
								span.post-date 24.3.2014
								a(href="#") read more
									i.fa.fa-long-arrow-right
			.col-md-3
				ul.widgets
					li.widget-container
						h3.widget-title testimonials widget
						.carousel.slide(id="testimonials" data-ride="testimonials" class="testimonials")
							.carousel-inner
								.item.active
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum..
									h5 Sara Doe
									h6.style-2 Designer at 
										a(href="#") anpsthemes.com
								.item
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum..
									h5 John Doe
									h6.style-2 Developer at 
										a(href="#") anpsthemes.com
								.item
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum..
									h5 Sara Doe
									h6.style-2 Designer at 
										a(href="#") anpsthemes.com
							ol.carousel-indicators
								li.active(data-target="#testimonials" data-slide-to="0")
								li(data-target="#testimonials" data-slide-to="1")
								li(data-target="#testimonials" data-slide-to="2")
						.carousel.slide(id="testimonials2" data-ride="testimonials" class="testimonials")
							.carousel-inner
								.item.active
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum..
									h5 Sara Doe
									h6.style-2 Designer at 
										a(href="#") anpsthemes.com
								.item
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis neque id elit venenatis elementum..
									h5 John Doe
									h6.style-2 Developer at 
										a(href="#") anpsthemes.com
							ol.carousel-indicators
								li.active(data-target="#testimonials2" data-slide-to="0")
								li(data-target="#testimonials2" data-slide-to="1")
					li.widget-container
						h3.widget-title tags widget
						div.tagcloud
							a(href="#") web
							a(href="#") design
							a(href="#") html
							a(href="#") art
							a(href="#") photography
							a(href="#") css
							a(href="#") css
							a(href="#") printing
							a(href="#") html
					li.widget-container
						h3.widget-title socialize
						.social
							a.fa.fa-twitter(href="#")
							a.fa.fa-facebook(href="#")
							a.fa.fa-behance(href="#")
							a.fa.fa-skype(href="#")
							a.fa.fa-vimeo-square(href="#")
							a.fa.fa-google-plus(href="#")
							a.fa.fa-linkedin-square(href="#")
	.copyright
		.container
			.row
				.col-sm-6
					img(src="assets/images/footer-logo.png" alt="Footer Logo")
				.col-sm-6
					.social
						each val in ["twitter", "facebook", "behance", "skype", "vimeo-square", "google-plus", "linkedin-square"]
							a(class="fa fa-" + val href="#")

script(src="assets/javascript/jquery.js")
script(src="http://maps.google.com/maps/api/js?sensor=false")
script(src="assets/javascript/gmap3.js")
script(src="assets/javascript/jquery.cookie.js")
script(src="assets/javascript/theme.js")
script(src="assets/javascript/smoothscroll.js")
script(src="assets/javascript/bootstrap/tab.js")
script(src="assets/javascript/bootstrap/collapse.js")
script(src="assets/javascript/bootstrap/alert.js")
script(src="assets/javascript/bootstrap/carousel.js")
script(src="assets/javascript/bootstrap/transition.js")
script(src="assets/javascript/jquery.touchSwipe.js")
script(src="assets/javascript/picturefill.js" async)
script(src="assets/javascript/parallax.js")
script(src="assets/javascript/imagesloaded.js")
script(src="assets/javascript/isotope.js")
script(src="assets/javascript/jflickrfeed.js")
	
// LayerSlider

script(src="assets/javascript/greensock.js")
script(src="assets/javascript/layerslider.transitions.js")
script(src="assets/javascript/layerslider.kreaturamedia.jquery.js")

// Colorpicker

script(src="assets/javascript/colorpicker.js")

script.
	jQuery(function($) {
		map('#map', '2 Elizabeth St, Melbourne', 14);

		$("#no-clutter").parallax("50%", 0.6);
		$("#home").parallax("50%", 0.6);
	});

script.
	jQuery(function() {
		jQuery('#home').layerSlider({
			skin 				: 'kataleya',
			skinsPath 			: 'assets/css/layerslider/skins/',
			responsiveUnder		: 1200,
			layersContainer 	: 1200,
			responsive 			: false,
			showCircleTimer		: false
		});
	});