head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Kataleya - Restaurant One Page HTML Template
	link(rel="shortcut icon" href="assets/images/favicon.png")
		
	// Including stylesheets
	link(rel="stylesheet" href="assets/css/core.css")
	link(rel="stylesheet" href="assets/css/theme.css")
	link(rel="stylesheet" href="assets/css/font-awesome.css")
	link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext")
	link(rel="stylesheet" href="assets/css/layerslider.css")
	link(rel="stylesheet" href="assets/css/prettyPhoto.css")

	link(rel="stylesheet" href="assets/css/colorpicker.css")