svg(class="mini-logo" version="1.1" id="Layer_1_xA0_Image_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 126 112" enable-background="new 0 0 126 112" xml:space="preserve")
	polygon(points="61,8.714 76.072,39.254 109.775,44.152 85.389,67.924 91.145,101.491 61,85.643 30.854,101.491 36.612,67.924 12.224,44.152 45.927,39.254")