include head
body.responsive
	-var current_page = 'portfolio-single';

	//include colorpicker

	div.site-wrapper
		include header

		section.no-spacing
			.container
				.row
					.col-md-12
						.page-heading
							h1 fresh salad for a hot summer

							ul
								li
									a(href="index.html") home
								li
									a(href="portfolio.html") portfolio
								li
									span fresh salad for a hot summer		
		section.style-2.portfolio-single
			.container
				.row
					.col-md-12
						.carousel.slide.post-images(id="post-images" data-ride="carousel")
							.carousel-inner
								.item.active
									img(src="assets/images/portfolio-single-1.jpg" alt="Portfolio single 1")
								.item
									img(src="assets/images/portfolio-single-2.jpg" alt="Portfolio single 2")
								.item
									img(src="assets/images/portfolio-single-3.jpg" alt="Portfolio single 3")
							ol.carousel-indicators
								li.active(data-target="#post-images" data-slide-to="0")
								li(data-target="#post-images" data-slide-to="1")
								li(data-target="#post-images" data-slide-to="2")
							a(class="left carousel-control" href="#post-images" role="button" data-slide="prev")
								i.fa.fa-chevron-left
							a(class="right carousel-control" href="#post-images" role="button" data-slide="prev")
								i.fa.fa-chevron-right
						h3 Fantastically juicy, fresh shortly just delicious.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis diam mauris. Nam suscipit massa nec pretium ultrices. Quisque ante enim, fermentum sed euismod non, blandit sed erat. Nunc rhoncus porttitor elit nec eleifend. In fermentum, tortor vitae commodo euismod, metus leo vehicula velit, sit amet dignissim dui lorem et elit.
						p &nbsp;
						.row
							.col-md-6
								h5 Fantastically juicy, fresh shortly just delicious.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ipsum enim, fermentum eu dui eget, vestibulum vulputate massa. Etiam congue commodo dui, ut imperdiet risus vestibulum eu. Morbi molestie tortor nec consequat dictum. Pellentesque vitae tellus tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer et ante quis odio convallis tristique quis ut ligula. Donec consequat molestie urna quis blandit. Vestibulum suscipit risus neque, sed pellentesque ipsum eleifend sed. In nec urna in leo vestibulum lacinia. Nullam hendrerit quis diam vitae vulputate. Proin nec ante purus. Donec non lacinia sapien.
							.col-md-6
								h5 Fantastically juicy, fresh shortly just delicious.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ipsum enim, fermentum eu dui eget, vestibulum vulputate massa. Etiam congue commodo dui, ut imperdiet risus vestibulum eu. Morbi molestie tortor nec consequat dictum. Pellentesque vitae tellus tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer et ante quis odio convallis tristique quis ut ligula. Donec consequat molestie urna quis blandit. Vestibulum suscipit risus neque, sed pellentesque ipsum eleifend sed. In nec urna in leo vestibulum lacinia. Nullam hendrerit quis diam vitae vulputate. Proin nec ante purus. Donec non lacinia sapien.								
		section.load-more.text-center
			.container
				.row
					a.btn.btn-md(href="#")
						i.fa.fa-chevron-left
						| previous
					a.btn.btn-md.secondary(href="index.html")
						i.fa.fa-home 
						| home
					a.btn.btn-md(href="#")
						| next
						i.fa.fa-chevron-right
		section.jumbotron.text-center
			.container
				h1 
					span.color all you need
					| , give it a go
				a.btn.btn-md(href="#") buy kateleya

		include footer