.idea/*
.well-known/*
./cgi-bin/*
./99p-pizza/upload/*
./bluerooster/upload/*
./Chickafilla/upload/*
./chickencottage/upload/*
./currycottage/upload/*
./dixycoventry/upload/*
./goldenfry/upload/*
./hungrybellyz/*
./karachipizza/*
./loungeindia/sitecake-backup/*
./loungeindia/sitecake-temp/*
./magboxes.co.uk/upload/*
./marius/upload/*
./mariusmaypole/upload/*
./pepperspiripiri/upload/*
./pizza-fiesta/upload/*
./pizza4ucoventry/upload/*
./pizzaomore/upload/*
./PizzaPlace/upload/*
./pizzaworld/upload/*
./public_html/upload/*
./sicilianpizza/upload/*
./spicevillagecoventry/upload/*
./torino-pizza/upload/*

./upload/*