block modal
    #modal--subscribe.mfp-with-anim.modal-popup.mfp-hide
        button.modal-close: i.fa.fa-remove
        img(src="images/img-demo-4.png" alt="")
        form(action="_action" method="post")
            h3 STAY UP-TO-DATE  WITH OUR NEWLETTER
            p Follow us & get <span> 20% OFF </span> coupon for first purchase !!!!!
            .form-group
                input.form-control(type="text" placeholder="Type your email...")
                button.ps-btn.ps-btn--sm Subscribe


        