extends ../master

block title
    title Bakery | Homepage 1

block page_header
    - var currentPage = 'homepage'
    include ../utils/mixins
    include ../common/common-element
    include ../partials/modules/search
    include ../partials/header

block page_content

    include ../partials/section/revolution-slider
    include ../partials/section/countdown
    include ../partials/section/best-seller
    include ../partials/section/home-testimonial
    include ../partials/section/offer
    include ../partials/section/list-product
    include ../partials/section/team
    include ../partials/section/blog-and-new
    include ../partials/section/partner
    include ../partials/section/contact
    include ../partials/section/subscribe

    include ../partials/footer
    include ../partials/modules/product-quickview
    include ../partials/modules/subscribe-popup







