#search_block_top {
  float: right;
  margin-left: 0;
  max-width: 190px;
  padding-right: 0;
}
#search_block_top.has-categories-dropdown {
  left: 45%;
  position: absolute;
  top: -65px;
}
    #search_block_top .btn.button-search:before, .button-search-toggle span:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 12px;
      width: 100%;
      text-align: center; }
@media (min-width: 992px){
    #search_block_top.has-categories-dropdown {
      max-width: 35%;
    }
}
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
#search_block_top .btn.button-search {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #b2b0ad;
  display: block;
  height: 28px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
#search_block_top .btn.button-search:hover {
  color: #E94C6F; 
}
#search_block_top.has-categories-dropdown #search_query_top {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
}
#search_block_top #search_query_top {
  background: #fbfbfb none repeat scroll 0 0;
  border: medium none;
  display: inline;
  height: 28px;
  margin-right: 1px;
  padding: 0 50px 0 10px;
}
.ac_results {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D6D4D4;
  margin-top: -1px;
  overflow: hidden;
  width: 271px;
  z-index: 9999;
}
.ac_results > ul {
  margin-bottom: 0;
}
.ac_results li {
  border-bottom: 1px solid #F7F7F7;
  color: #686666;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
  padding: 2px 10px;
}
.ac_results li.ac_odd {
  background: #fff; 
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb; 
}

form#searchbox {
  position: relative; 
}
form#searchbox label {
    color: #333; 
}
form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; 
}
form#searchbox .button.button-small {
    float: left; 
}
form#searchbox .button.button-small i {
    margin-right: 0; 
}
#searchbox > select {
  background-color: transparent;
  border: 1px solid #E7E7E7;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #888888;
  float: left;
  height: 28px;
  margin-right: -1px;
  padding: 10px 10px 10px 2px;
  position: absolute;
  right: 100%;
  width: 45%;
}
.select-arrow {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  height: 28px;
  position: absolute;
  right: 100%;
  width: 30px;
  z-index: 11;
  pointer-events: none;
}
.select-arrow:before {
  content: "\f0d7";
  font-family: FontAwesome;
  line-height: 28px;
  text-align: left;
  padding-left: 3px;
  width: 100%;
  color: #ccc;
  font-size: 16px;
  float: left;
}
/*# sourceMappingURL=blocksearch.css.map */
@media (min-width: 768px) and (max-width: 991px){
    #search_block_top {
      width: 230px;
    }
    #searchbox > select {
      padding: 10px 0;
      width: 100px;
    }
}
@media (max-width: 767px){
    .header-bottom #search_block_top #search_query_top {
      width: 100%;
    }
}
@media (min-width: 480px) and (max-width: 767px){
    .header-bottom #search_block_top.has-categories-dropdown {
      left: 100px;
      max-width: 68%;
      padding-left: 0;
      top: -54px;
      width: 40%;
    }
    .header-bottom #searchbox > select {
      text-align: center;
      width: 100px;
    }
}
@media (max-width: 479px){
    .ac_results {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #D6D4D4;
      border-top-right-radius: 5px;
      margin-top: -1px;
      width: 65% !important;
      z-index: 9999;
      max-width: 490px;
    }
    #searchbox > select {
      position: static;
      width: 30%;
    }
    .select-arrow {
      height: 40px;
      left: 25%;
      position: absolute;
      width: 5%;
    }
    .header-bottom #search_block_top.has-categories-dropdown #search_query_top {
      width: 70%;
    }
}
