<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ybc_blocksearch</name>
	<displayName><![CDATA[Advanced search block]]></displayName>
	<version><![CDATA[1.0.1]]></version>
	<description><![CDATA[Quick search block with categories dropdown.]]></description>
	<author><![CDATA[ETS Software Solutions (ETS-Soft)]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>