$font-1st: 'Varela Round', sans-serif;
$font-2nd: 'Libre Baskerville', serif;
$font-3rd: 'Pacifico', cursive;
$font-4th: 'Poppins', sans-serif;


$color-1st: #ff5858;
$color-2nd: #ee7560;
$color-heading: #303030;
$color-text: #767779;
$color-dark: #19161f;
$color-lightgray: #eef0f4;
$color-lightgray2: #ededed;
$color-success: #1CD1AA;
$color-warning: #f89327;
$color-danger: #f25755;
$color-info: #67bfd7;

