-
    blog_listing = [
        'images/blog/img-blog-1.jpg',
        'images/blog/img-blog-2.jpg',
        'images/blog/img-blog-3.jpg',
        'images/blog/img-blog-4.jpg',
        'images/blog/img-blog-5.jpg',
    ]