-
    payment_method = [
        {
            imagepath: 'images/payment/1.png',
            link: '#'
        },
        {
            imagepath: 'images/payment/2.png',
            link: '#'
        },
        {
            imagepath: 'images/payment/3.png',
            link: '#'
        },
        {
            imagepath: 'images/payment/4.png',
            link: '#'
        },
        {
            imagepath: 'images/payment/5.png',
            link: '#'
        },
    ]
-
    order_and_return = [
        {
            type: 'link',
            text: 'Order',
            link: '#'
        },
        {
            type: 'link',
            text: 'Shipping',
            link: '#'
        },
        {
            type: 'link',
            text: 'Policy Return Policy',
            link: '#'
        },
        {
            type: 'link',
            text: 'Payments',
            link: '#'
        }
    ]
-
    connect = [
        {
            type: 'link',
            icon: 'fa fa-facebook',
            link: '#'
        },
        {
            type: 'link',
            icon: 'fa fa-google',
            link: '#'
        },
        {
            type: 'link',
            icon: 'fa fa-twitter',
            link: '#'
        },
        {
            type: 'link',
            icon: 'fa fa-instagram',
            link: '#'
        }
    ]