-
    widget_tag = [
        {
            type: 'link',
            link: '#',
            text: 'Cupcake'
        },
        {
            type: 'link',
            link: '#',
            text: 'vanila'
        },
        {
            type: 'link',
            link: '#',
            text: 'sugar flower'
        },
        {
            type: 'link',
            link: '#',
            text: 'vanila'
        },
        {
            type: 'link',
            link: '#',
            text: 'coconut'
        },
        {
            type: 'link',
            link: '#',
            text: 'vanila'
        },
    ]
-
    widget_best_seller = [
        {
            imagepath: 'images/cake/img-cake-12.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-3.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-7.jpg',
            title: "The Rolling Pin",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    widget_category = [
        {
            link: 'product-listing.html',
            text: 'All bakery (321)',
            current: true
        },
        {
            link: 'product-listing.html',
            text: "Amazin’ Glazin’"
        },
        {
            link: 'product-listing.html',
            text: 'The Crusty Croissant'
        },
        {
            link: 'product-listing.html',
            text: 'The Rolling Pin'
        },
        {
            link: 'product-listing.html',
            text: 'Skippity Scones'
        },
        {
            link: 'product-listing.html',
            text: 'Mad Batter'
        },
        {
            link: 'product-listing.html',
            text: 'Confection Connection'
        },
    ]

-
    award = [
        {
            imagepath: 'images/award/01.png',
            title: 'BAKERY OF THE YEAR',
            year: '2010 - 2012',
            description: 'Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie. Jujubes chocolate cake sesame snaps',
        },
        {
            imagepath: 'images/award/02.png',
            title: 'CUPCAKES SHOP OF THE YEAR',
            year: '2010 - 2012',
            description: 'Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie. Jujubes chocolate cake sesame snaps',
        },
        {
            imagepath: 'images/award/02.png',
            title: 'BAKERY OF THE MONTH',
            year: '2010 - 2012',
            description: 'Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie. Jujubes chocolate cake sesame snaps',
        }
    ]
-
    widget_recent_post = [
        "images/blog/thumbnail1.jpg",
        "images/blog/thumbnail2.jpg",
        "images/blog/thumbnail3.jpg",
    ]
-
    contact_social = [
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-facebook'
        },
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-twitter'
        },
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-rss'
        },

    ]

