-
    best_seller = [
        {
            imagepath: 'images/cake/img-cake-7.jpg',
            title: 'Red sugar flower',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
            badge: ["new", "40%"]
        },
        {
            imagepath: 'images/cake/img-cake-2.jpg',
            title: 'Cupcake Queen',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-4.jpg',
            title: 'Cupcake Glory',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-8.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        }
    ]
-
    product_grid = [
        {
            imagepath: 'images/cake/img-cake-7.jpg',
            title: 'Red sugar flower',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
            badgeNew: true
        },
        {
            imagepath: 'images/cake/img-cake-2.jpg',
            title: 'Cupcake Queen',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
            badgeSale: true
        },
        {
            imagepath: 'images/cake/img-cake-4.jpg',
            title: 'Cupcake Glory',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-8.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-9.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-7.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
    ]
-
    product_listing = [
        {
            imagepath: 'images/cake/img-cake-2.jpg',
            title: "Red sugar flower",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-3.jpg',
            title: "Cupcake Queen",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-4.jpg',
            title: "Cupcake Glory",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-5.jpg',
            title: "Red sugar flower",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-6.jpg',
            title: "Cupcake Queen 2",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-1.jpg',
            title: "Cupcake Glory 2",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    offer_2 = [
        {
            imagepath: 'images/cake/img-cake-13.jpg',
            title: 'Red sugar flower',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-14.jpg',
            title: 'Cupcake Queen',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-21.jpg',
            title: 'Cupcake Queen 2',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-15.jpg',
            title: 'Cupcake Glory',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-16.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-17.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-18.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
        {
            imagepath: 'images/cake/img-cake-20.jpg',
            title: 'Sweet Cakes',
            category: [
                'cupcake',
                'sweet',
                'bio'
            ],
            price: '£5.00',
        },
    ]