-
    homepage_1_left = [
        {
            text: 'Home',
            url: 'index.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            current: 'homepage',
            subMenu: [
                {
                    text: 'Hot Demo',
                    url : '#'
                },
                {
                    text: 'Trending',
                    url : '#',
                    extraClass: 'end-block',
                },
                {
                    text: 'HOMEPAGE 1',
                    url : 'index.html',
                    current: 'homepage',
                },
                {
                    text: 'HOMEPAGE 2',
                    url : 'homepage-2.html',
                    current: 'homepage',
                },
                {
                    text: 'HOMEPAGE 3',
                    url : 'homepage-3.html',
                    current: 'homepage',
                },
                {
                    text: 'Try Theme Now',
                    url : '#',
                    extraClass: 'try-theme',
                },
            ]
        },
        {
            text: 'About',
            url : 'about.html',
            current: 'about',
        },
        {
            text: 'Products',
            url : 'product-grid.html',
            current: 'product',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Product Listing',
                    url : 'product-listing.html',
                    current: 'product',
                },
                {
                    text: 'Product Grid',
                    url : 'product-grid.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail',
                    url : 'product-detail.html',
                    current: 'product',
                },
            ]
        },
         {
            text: 'Pages',
            url : '#',
            current: 'page',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Menu 1',
                    url : 'menu-1.html',
                    current: 'page',
                },
                {
                    text: 'Menu 2',
                    url : 'menu-2.html',
                    current: 'page',
                },
                {
                    text: 'Order Form',
                    url : 'order-form.html',
                    current: 'page',
                },
                {
                    text: 'Checkout',
                    url : 'checkout.html',
                    current: 'page',
                },
                {
                    text: 'Cart',
                    url : 'cart.html',
                    current: 'page',
                },
                {
                    text: '404 Page',
                    url : '404.html'
                },
            ]
        },
    ]
-
    homepage_1_right = [
        {
            text: 'Gallery',
            url : '#',
            current: 'gallery'
        },
        {
            text: 'Blogs',
            url : 'blog-listing.html',
            current: 'blog',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Blog Detail',
                    url : 'blog-detail.html',
                    current: 'blog',
                },
            ]
        },
        {
            text: 'Contact',
            url : '#',
            current: 'contact',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Contact 1',
                    url : 'contact.html',
                    current: 'contact',
                },
                {
                    text: 'Contact 2',
                    url : 'contact-2.html',
                    current: 'contact',
                },
            ]
        },

    ]