-
    menu_1 = [
        {
            imagepath: 'images/cake/img-cake-14.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-13.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-18.jpg',
            title: "The Rolling Pin",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    menu_2 = [
        {
            imagepath: 'images/cake/img-cake-1.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-15.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-3.jpg',
            title: "The Rolling Pin",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    menu_3 = [
        {
            imagepath: 'images/cake/img-cr-1.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cr-2.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    menu_4 = [
        {
            imagepath: 'images/cake/img-cr-3.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cr-4.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]