-
    pages = [
        {
            url: '404.html',
            text: "404 Page"
        },
        {
            url: 'about.html',
            text: "About"
        },
        {
            url: 'blog-detail.html',
            text: "Blog Detail"
        },
        {
            url: 'blog-listing.html',
            text: "Blog Listing"
        },
        {
            url: 'cart.html',
            text: "Cart"
        },
        {
            url: 'checkout.html',
            text: "Checkout"
        },
        {
            url: 'contact.html',
            text: "Contact"
        },
        {
            url: 'contact-2.html',
            text: "Contact 2"
        },
        {
            url: 'index.html',
            text: "Homepage"
        },
        {
            url: 'homepage-2.html',
            text: "Homepage 2"
        },
        {
            url: 'homepage-3.html',
            text: "Homepage 3"
        },
        {
            url: 'product-detail.html',
            text: "Product Detail"
        },
        {
            url: 'product-grid.html',
            text: "Product Grid"
        },
        {
            url: 'product-listing.html',
            text: "Product List"
        },
        {
            url: 'order-form.html',
            text: "Order Form"
        },
        {
            url: 'menu-1.html',
            text: "Menu 1"
        },
        {
            url: 'menu-2.html',
            text: "Menu 2"
        },
    ]