-
    people_social = [
        {
            type: 'link',
            icon: 'fa fa-facebook',
            link: '#'
        },
        {
            type: 'link',
            icon: 'fa fa-google',
            link: '#'
        },
        {
            type: 'link',
            icon: 'fa fa-twitter',
            link: '#'
        },
    ]
-
    homepage_team = [
        {
            imagepath: 'images/team/team-1.jpg',
            title: 'Christian Gregory',
            position: 'CEO - Founder',
            description: 'Jelly topping halvah caramels sweet cake gummi bears toffee.'
        },
        {
            imagepath: 'images/team/team-2.jpg',
            title: 'Christian Gregory',
            position: 'CEO - Founder',
            description: 'Jelly topping halvah caramels sweet cake gummi bears toffee.'
        },
    ]
-
    about_team = [
        {
            imagepath: 'images/team/team-1.jpg',
            title: 'Juan Olson',
            position: 'CEO - Founder',
            description: 'Jelly topping halvah caramels sweet cake gummi bears toffee.'
        },
        {
            imagepath: 'images/team/team-2.jpg',
            title: 'Corey Barnett',
            position: 'Master Chef',
            description: 'Jelly topping halvah caramels sweet cake gummi bears toffee.'
        },
        {
            imagepath: 'images/team/team-3.jpg',
            title: 'Agnes Buchanan',
            position: 'Master Baker',
            description: 'Jelly topping halvah caramels sweet cake gummi bears toffee.'
        },
    ]