-
    list_product_1 = [
        {
            imagepath: 'images/cake/img-cake-12.jpg',
            title: "Amazin’ Glazin’",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-3.jpg',
            title: "The Crusty Croissant",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-7.jpg',
            title: "The Rolling Pin",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]
-
    list_product_2 = [
        {
            imagepath: 'images/cake/img-cake-6.jpg',
            title: "Anytime Cakes",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-8.jpg',
            title: "Sugar Booger",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
        {
            imagepath: 'images/cake/img-cake-11.jpg',
            title: "The Mix-Up",
            description: 'Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.',
            originPrice: '£25.00',
            salePrice: '£15.00',
        },
    ]