-
    header_social = [
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-twitter',
        },
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-facebook',
        },
        {
            type: 'link',
            link: '#',
            icon: 'fa fa-google-plus',
        }
    ]