ul(class="nav nav-tabs dr-about__tab" role="tablist")
    li(role="presentation")
        a(href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab")
            span.tab-icon
                img(src='img/tempt/icon/quality.png' alt='')
            | Qualifications
    li(role="presentation").active
        a(href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab")
            span.tab-icon
                img(src='img/tempt/icon/award.png' alt='')
            | Awards
    li(role="presentation")
        a(href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab")
            span.tab-icon
                img(src='img/tempt/icon/appointment.png' alt='')
            | Appointments
.tab-content
    .tab-pane(role='tabpanel')#tab_01

    .tab-pane.active(role='tabpanel')#tab_02


    .tab-pane(role='tabpanel')#tab_03