link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700%7CPacifico%7CVarela+Round%7CPoppins" rel="stylesheet")
link(rel="stylesheet", href="plugins/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css")
link(rel="stylesheet", href="plugins/ps-icon/ps-icon.css")

